.navbar.navbar-home {
	min-height: 95px;
	box-shadow: 0 0 15px rgb(0 0 0 / 8%);
	border-bottom: 1px solid #b4bfd6;

	@include media-breakpoint-down (sm) {
		min-height: 77px;
	}

	.container-2xl {
		@include media-breakpoint-down (sm) {
			gap: 8px;
		}
	}

	.navbar-brand {
		.logo {
			font-size: 1.625rem;
			font-weight: 400;

			@include media-breakpoint-down (sm) {
				font-size: 1.4rem;
			}
		}

		@include media-breakpoint-down (sm) {
			display: block;
			margin-right: unset;
			padding: 0;
			width: 100%;
			text-align: center;
		}
	}

	.menu-icon {
		width: 25px;
		cursor: pointer;
		user-select: none;
	}

	.nav-bar-menu {
		.navbar-nav {
			margin-left: 24%;
			gap: 15px;
			align-items: center;

			@include media-breakpoint-down (md) {
				margin-left: unset;
				justify-content: center;
				flex-direction: row;
			}

			@include media-breakpoint-down (sm) {
				flex-direction: column;
			}

			@include media-breakpoint-down (sm) {
				gap: 7px;
			}

			.nav-item {
				@include media-breakpoint-down (sm) {
					flex-direction: column;
					gap: 6px;
				}

				span {
					color: $light;
					font-size: 1.1rem;

					@include media-breakpoint-down (md) {
						font-size: 1rem;
					}
				}

				.btn-login-area {
					color: $black;
				}

				.dropdown {
					.dropdown-toggle {
						position: relative;
						display: flex;
						align-items: center;
						column-gap: 9px;
						justify-content: space-between;
						padding: 8px 13px;
						border: 1px solid rgba(32, 201, 150, 0.378) !important;

						span {
							color: #46526C;
						}

						&::after {
							all: unset;
						}
					}

					.dropdown-menu {
						position: absolute;
						width: 325px;
						border: 1px solid $border-color;
						border-radius: 8px;
						padding-block: 3px;
						padding-inline: 1px;
						top: 53px;
						transition: all 0.2s ease-out;

						@include media-breakpoint-down (sm) {
							width: 270px;
							top: 46px;
						}

						@media (max-width: 325px) {
							width: 240px;
						}

						.nav-tabs {
							display: flex;
							border: none;
							justify-content: space-between;
							column-gap: 1px;

							li:has(.active) {
								border-bottom: 2px solid $dark-green;
							}

							li {
								width: 100%;
								text-align: center;
							}

							.tab-button {
								width: 100%;
								padding-top: 16px;
								padding-bottom: 12px;
								font-size: 1rem;
								color: $dark-green;
								font-weight: 600;
								transition: color .3s ease-out;

								&:hover {
									color: darken($dark-green, 6%);
								}
							}
						}

						.tab-content {
							padding: 15px;
							padding-bottom: 8px;
						}

						.form-group {
							position: relative;

							img {
								width: 17px;
								position: absolute;
								top: 50%;
								left: 12px;
								transform: translateY(-50%);
							}

							input {
								border-color: $border-color;
								background-color: transparent;
								font-size: 1rem;
								border-radius: 8px;
								padding-left: 35px;
								padding-block: 11px;
								line-height: 0;
								height: unset;

								&:focus {
									border-color: #a0a0a0;
								}

								&::placeholder {
									color: #54575c;
									font-size: .9rem;
								}
							}
						}

						.list {
							padding: 0;
							display: flex;
							flex-direction: column;
							overflow-y: auto;
							max-height: 175px;
							row-gap: 4px;
							user-select: none;

							h4 {
								font-size: 1.1rem;
								text-align: center;
								padding: 6px;
								padding-bottom: 8px;
								margin: 0;
							}

							&::-webkit-scrollbar {
								width: 10px;
							}

							&::-webkit-scrollbar-thumb {
								background: #eaecf0;
								border-radius: 10px;
								transition: all 0.3s ease-out;
							}

							li {
								list-style: none;
								font-size: 1rem;
								min-height: 42px;
								padding-block: 10px;
								padding-inline: 10px;
								display: flex;
								align-items: center;
								font-weight: 500;
								cursor: pointer;
								border-radius: 6px;
								margin-right: 10px;
								justify-content: space-between;
								align-items: center;

								@include media-breakpoint-down (sm) {
									font-size: .9rem;
								}
							}

							li.active {
								background-color: $green;
							}

							li.selected,
							li:hover {
								background-color: $green;
							}
						}

						.stripe {
							.list {
								row-gap: 0;
								max-height: unset;

								li {
									margin-right: unset;
									padding: 10px 12px;
									border-bottom: 1px solid #e7e7e7;
									border-radius: 0;
									min-height: unset;

									&:last-child {
										border-bottom: unset;
									}
								}

								li:last-child.selected,
								li:last-child:hover {
									border-bottom-left-radius: 6px;
									border-bottom-right-radius: 6px;
								}

								li.selected,
								li:hover {
									background-color: $green;
									border-top-left-radius: 6px;
									border-top-right-radius: 6px;
								}
							}
						}
					}

					// Stripes DropDown
					.dropdown-menu:has(.stripe) {
						width: 200px;
						padding: 0;
					}
				}

				// Visualize Compare Select Box
				.visualize-compare-select-box {
					button {
						display: flex;
						align-items: center;
						border: 1px solid rgb(231, 231, 231);
						padding: 8px 12px;
						user-select: none;
						position: relative;
						cursor: pointer;
						border-top-left-radius: 2px;
						border-top-right-radius: 2px;
						column-gap: 9px;
					}

					.options-container {
						position: absolute;
						top: 44.5px;
						left: 0;
						width: 100%;
						padding: 0;
						z-index: 2;
						border: 1px solid rgb(231, 231, 231);
						background-color: white;
						border-top: unset;
						visibility: hidden;
						opacity: 0;
						user-select: none;
						transform: translateY(-10px);
						transition: transform .1s ease-in-out, opacity .1s ease-out;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;

						.option {
							width: 100%;
							list-style: none;
							color: #46526C;
							padding: 8px 12px;
							cursor: pointer;

							&:hover {
								background-color: rgba(32, 201, 150, 0.378);
							}
						}
					}

					&.active {
						.options-container {
							visibility: visible;
							opacity: 1;
							user-select: auto;
							transform: translateY(0);
						}
					}
				}
			}

			.nav-item.logged-in {
				.dropdown-menu {
					position: absolute !important;
					top: 45px;
				}
			}
		}
	}
}

// For Login Page
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link.active {
	color: $black;
}

// Comparison Mode
.comparison {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	user-select: none;
}

.comparison.active {
	visibility: visible;
	position: relative;
	opacity: 1;
	user-select: unset;
}
