{% extends "templates/web.html" %}

{% set full_width = True %}
{% set no_breadcrumbs = True %}

{% block style %}
	<link rel="stylesheet" href="/assets/stripes/node_modules/tippy.js/dist/tippy.css">
	{{ include_style("stripes_home.bundle.css") }}
{% endblock %}

{%- block meta_block -%}
{%- for name in metatags %}
{%- set content = metatags.get(name, '') -%}
{%- if name in ('image', 'og:image', 'twitter:image') %}
	<meta {% if name.startswith('og:') %}property="{{ name }}"{% else %}name="{{ name }}"{% endif %} content="{{ content }}">
{%- elif content %}
	<meta {% if name.startswith('og:') %}property="{{ name }}"{% else %}name="{{ name }}"{% endif %} content="{{ content | striptags | escape }}">
{%- endif %}
{%- endfor -%}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-home navbar-expand-lg">
		<div class="container-2xl justify-content-start align-items-center flex-nowrap flex-column flex-md-row">
			<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or " /" }}">
				<h1 class="m-0 logo">Pollution Stripes</h2>
			</a>

			<!-- Nav Items -->
			<div class="nav-bar-menu w-100" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item d-flex align-items-center">
						<!-- VC Comparison Select Box -->
						<div class="visualize-compare-select-box position-relative mr-0 mr-md-3">
							<button class="btn-reset">
								<span>{% if is_comparison_mode %}Compare{% else %}Visualize{% endif %}</span>
								<img src="/assets/stripes/images/icons/arrow-down.svg" />
							</button>

							<ul class="options-container">
								<li class="option">Visualize</li>
								<li class="option">Compare</li>
							</ul>
						</div>

						<!-- Primary Combobox -->
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span data-default="Global">{{ selected_region }}</span>
								<img src="/assets/stripes/images/icons/arrow-down.svg" />
							</button>

							<!-- DropDown Menu -->
							<div class="dropdown-menu">
								<!-- Nav Tabs -->
								<ul class="nav nav-tabs" id="dropdown-tab" role="tablist">
									<li><button class="btn-reset tab-button active" id="region-tab" data-toggle="tab" data-target="#region">Region</button></li>
									<li><button class="btn-reset tab-button" id="country-tab" data-toggle="tab" data-target="#country">Country</button></li>
									<li><button class="btn-reset tab-button" id="city-tab" data-toggle="tab" data-target="#city">City</button></li>
								</ul>

								<!-- Nav Tabs Content -->
								<div class="tab-content" id="dropdown-tab-content">
									<div class="tab-pane fade show active" id="region">
										<div class="region">
											<!-- Search -->
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											<ul class="list">
												{% for region in monitor.region %}
													<li>{{ region.name }}</li>
													<li hidden>Global</li>
												{% endfor %}
											</ul>
										</div>
									</div>

									<!-- Country -->
									<div class="tab-pane fade" id="country">
										<!-- Search -->
										<div class="country">
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											 <ul class="list">
												{% for country in monitor.country %}
													<li>{{ country.name }}</li>
												{% endfor %}
											 </ul>
										</div>
									</div>

									<!-- City -->
									<div class="tab-pane fade" id="city">
										<div class="city">
											<!-- Search -->
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											<ul class="list">
												{% for city in monitor.city %}
													<li>{{ city.name }}</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Comparison Combobox -->
						<div class="dropdown comparison ml-0 ml-md-3 {% if is_comparison_mode %}active{% endif %}">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span data-default="Global">{{ selected_compare_region }}</span>
								<img src="/assets/stripes/images/icons/arrow-down.svg" />
							</button>

							<!-- DropDown Menu -->
							<div class="dropdown-menu">
								<!-- Nav Tabs -->
								<ul class="nav nav-tabs" id="dropdown-tab" role="tablist">
									<li><button class="btn-reset tab-button active" id="compare-region-tab" data-toggle="tab" data-target="#compare-region">Region</button></li>
									<li><button class="btn-reset tab-button" id="compare-country-tab" data-toggle="tab" data-target="#compare-country">Country</button></li>
									<li><button class="btn-reset tab-button" id="compare-city-tab" data-toggle="tab" data-target="#compare-city">City</button></li>
								</ul>

								<!-- Nav Tabs Content -->
								<div class="tab-content" id="dropdown-tab-content">
									<div class="tab-pane fade show active" id="compare-region">
										<div class="compare-region">
											<!-- Search -->
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											<ul class="list">
												{% for region in monitor.region %}
													<li>{{ region.name }}</li>
													<li hidden>Global</li>
												{% endfor %}
											</ul>
										</div>
									</div>

									<!-- Country -->
									<div class="tab-pane fade" id="compare-country">
										<!-- Search -->
										<div class="compare-country">
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											 <ul class="list">
												{% for country in monitor.country %}
													<li>{{ country.name }}</li>
												{% endfor %}
											 </ul>
										</div>
									</div>

									<!-- City -->
									<div class="tab-pane fade" id="compare-city">
										<div class="compare-city">
											<!-- Search -->
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											<ul class="list">
												{% for city in monitor.city %}
													<li>{{ city.name }}</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- Stripes -->
					<li class="nav-item d-flex align-items-center">
						<span class="mr-0 mr-md-3">air pollution</span>

						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
								<span data-default="Stripes">Stripes</span>
								<img src="/assets/stripes/images/icons/arrow-down.svg" />
							</button>

							<!-- DropDown Menu -->
							<div class="dropdown-menu">
								<div class="stripe">
									<!-- List -->
									<ul class="list">
										<li>Stripes</li>
										<li>Bars</li>
										<li>Chart</li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					{% include "templates/includes/navbar/navbar_login.html" %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block page_content %}
	<!--  Stripes -->
	<section class="stripes-section py-5">
		<div class="container-2xl">
			<div class="row">
				<div class="col-12">
					<div class="stripes-container">
						<!-- Loader -->
						<div class="loader"></div>
						<!-- Stripe Svg -->
						<div class="stripes w-100">
							{{ stripes_svg }}
						</div>
					</div>
				</div>
			</div>

			<!-- Download & Share Button -->
			<div class="row mt-5">
				<div class="col-12">
					<div class="action-buttons text-right">
						<!-- Download -->
						<a href="{{ image_url }}" id="stripes-download-link" download>
							<button class="btn btn-secondary">
								<img src="/assets/stripes/images/icons/download.svg" alt="download-button">
								<span>Download</span>
							</button>
						</a>

						<!-- Share -->
						<button class="btn btn-secondary" data-toggle="modal" data-target="#sharing-modal">
							<img src="/assets/stripes/images/icons/share.svg" alt="share-button">
							<span>Share</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Share Modal -->
		<div class="modal fade" id="sharing-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header d-flex align-items-center">
						<h5 class="modal-title" id="exampleModalLongTitle">Share</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="social-icons-area">
							<a data-share="facebook" target="_blank">
								<img src="/assets/stripes/images/icons/facebook.svg" alt="facebook">
							</a>

							<a data-share="whatsapp" target="_blank">
								<img src="/assets/stripes/images/icons/whatsapp.svg" alt="whatsapp">
							</a>

							<a data-share="linkedin" target="_blank">
								<img src="/assets/stripes/images/icons/linkedin.svg" alt="linkedin">
							</a>

							<a data-share="x" target="_blank">
								<img src="/assets/stripes/images/icons/x.svg" alt="twitter/x">
							</a>

							<a data-share="mail" target="_blank">
								<img src="/assets/stripes/images/icons/email.svg" alt="mail">
							</a>
						</div>

						<div class="page-url-section mt-5 position-relative">
							<div class="form-group postion-relative mb-0">
								<input type="text" class="form-control contain-url" readonly>
								<img src="/assets/stripes/images/icons/copy.svg" data-clipboard-target=".page-url-section input" class="copy-icon" alt="copy">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

<!-- Footer -->
{% block footer %}
	<footer>
		<p>&copy; {{ frappe.utils.formatdate(frappe.utils.today(), "YYYY") }} ParaLogic, All rights reserved.</p>
	</footer>
{% endblock %}

{% block script %}
	{{ include_script("combobox.bundle.js") }}
	{{ include_script("stripes.bundle.js") }}

	<!-- Js -->
	<script>
		/* Added in globallly */
		window.image_api = "{{ image_api|e }}";
		window.stripes_from_date = "{{ from_date }}";
		window.stripes_to_date = "{{ to_date }}";
		window.is_comparison_mode = JSON.parse("{{ is_comparison_mode | tojson }}");

		/* For Dropdown & Tabs */
		$(document).ready(function() {
			$('.dropdown-menu').each(function() {
				$(this).on('click', function(e) {
					e.stopPropagation();
				});

				$(this).on('click', function(e) {
					if ($(e.target).hasClass('tab-button')) {
						let target = $(e.target).data('target');

						// Switch active tab
						$(this).find('.tab-button').removeClass('active');
						$(e.target).addClass('active');

						// Switch tab content
						$(this).find('.tab-pane').removeClass('show active');
						$(target).addClass('show active');
					}
				});
			});
		});

		/* Popover */
		const initialize_popover = () => {
			const rectangles = document.querySelectorAll(".stripes rect");
			rectangles.forEach(rect => {
				tippy(rect, {
					content: () => {
						const content = document.createElement('div');
						content.innerHTML = `
							<div class="popover-header-area">
								<div class="date-area">
									<img src="/assets/stripes/images/icons/calendar.svg" alt="date-icon">
									<h2 class="date">${frappe.format(rect.getAttribute('data-date'), {fieldtype: 'Date'})}</h2>
								</div>
							</div>
							<div class="popover-body-area">
								<div class="pollutant-area">
									<div class="label">
										<img src="/assets/stripes/images/icons/pollutant.svg" alt="pollutant-icon">
										<span>PM2.5 (μg/m³)</span>
									</div>
									<h3 class="value">${rect.getAttribute("data-pollutant") ?? "N/A"}</h3>
								</div>
							</div>
						`
						return content;
					},
					placement: 'bottom',
					trigger: 'mouseenter',
					plugins: [followCursor],
					followCursor: true,
					duration: [0, 0],
					offset: [0, 25],
					animation: 'none',
					theme: 'custom',
					touch: true,
					arrow: true,
					allowHTML: true
				});
			});
		}

		/* Stripes Share */
		const update_sharing_url = () => {
			const element = document.querySelectorAll(".social-icons-area a");
			const share_text = encodeURIComponent("Check this out!");
			const share_url = window.location.href;
			for (let d of element) {
				social_site = d.getAttribute("data-share");

				if (social_site == "facebook") {
					d.setAttribute("href", `https://www.facebook.com/sharer/sharer.php?u=${share_url}`)
				}

				if (social_site == "whatsapp") {
					d.setAttribute("href", `https://api.whatsapp.com/send?text=${share_text} ${share_url}`)
				}

				if (social_site == "linkedin") {
					d.setAttribute("href", `https://www.linkedin.com/sharing/share-offsite/?url=${share_url}`)
				}

				if (social_site == "x") {
					d.setAttribute("href", `https://twitter.com/intent/tweet?url=${share_url}&text=${share_text}`)
				}

				if (social_site == "mail") {
					d.setAttribute("href", `mailto:?subject=Pollution Stripes&body=${share_text} ${share_url}`)
				}
			}
		}

		/* Download URL */
		const update_stripes_download_url = () => {
			const download_el = document.getElementById("stripes-download-link");
			let download_url = is_comparison_mode ? get_image_url(get_region(), get_compare_region()) :  get_image_url(get_region());
			download_el.setAttribute("href", download_url);
		}

		const get_image_url = (region, compare_region) => {
			let download_url = `${image_api}?from_date=${stripes_from_date}&to_date=${stripes_to_date}`;
			if (region) download_url += `&region=${encodeURIComponent(region)}`;
			if (compare_region) download_url += `&compare_region=${encodeURIComponent(compare_region)}`;
			return download_url;
		}

		// Update the URL based on filter selection.
		let previous_state = null;
		const update_page_url = () => {
			let new_url = null;
			let region = get_region();
			let compare_region = get_compare_region();
			let should_update_history = false;

			if (is_comparison_mode) {
				if (!previous_state || previous_state.region !== region) {
					should_update_history = true;
				}
				if (!previous_state || previous_state.compare_region !== compare_region) {
					should_update_history = true;
				}

				new_url = region || compare_region ? `/compare/${encodeURIComponent(region)}/${encodeURIComponent(compare_region)}`: "/";

				// Update history only if there's a unique state change
				if (should_update_history && window.location.pathname !== new_url) {
					window.history.pushState({ region: region, compare_region: compare_region }, null, new_url);
					previous_state = { region, compare_region };
				}
			} else {
				previous_state = null;
				new_url = region ? `/region/${encodeURIComponent(region)}` : "/";
				if (window.location.pathname !== new_url) window.history.pushState({region: region}, null, new_url);
			}
		};

		// Retrieve and handle the state when the user navigates back in history.
		window.addEventListener('popstate', (e) => {
			let { region, compare_region } = e.state || {};

			if (is_comparison_mode) {
				if (region && region !== previous_state?.region) sync_region_comboboxes(region);
				if (compare_region && compare_region !== previous_state?.compare_region) sync_compare_region_comboboxes(compare_region)
				fetch_stripes(get_region(), get_compare_region());
			} else {
				fetch_region_stripes(get_region());
				sync_region_comboboxes(region || "Global");
			}

			previous_state = e.state;
		});

		/* Primary Combobox Set Value */
		const sync_region_comboboxes = (value, from) => {
			if (country != from) country.set_value(value);
			if (region != from) region.set_value(value);
			if (city != from) city.set_value(value);
		};

		/* Comparison Combobox Set Value */
		const sync_compare_region_comboboxes = (value, from) => {
			if (compare_country != from) compare_country.set_value(value);
			if (compare_region != from) compare_region.set_value(value);
			if (compare_city != from) compare_city.set_value(value);
		};

		/* Fetching Stirpes */
		const fetch_stripes = (region, compare_region) => {
			const stripes_container = document.querySelector(".stripes-container");
			stripes_container?.classList.add("loading");

			frappe.call({
				method: 'stripes.image.get_stripes_svg',
				args: {
					from_date: stripes_from_date,
					to_date: stripes_to_date,
					region: region,
					compare_region: is_comparison_mode ? compare_region : null
				},
				callback: (response) => {
					if (response.message) {
						stripes_container.querySelector(".stripes").innerHTML = response.message;
					}
					stripes_container?.classList.remove("loading");

					initialize_popover();
					update_page_url();
					update_stripes_download_url();
					update_sharing_url();
				},
				error: (error) => {
					frappe.msgprint({
						title: __('Error'),
						message: __('Something went wrong. Please check your internet connection or try again.'),
					})
				}
			});
		}

		const fetch_region_stripes = (region, compare_region) => fetch_stripes(region, compare_region);
		const fetch_compare_stripes = (region, compare_region) => fetch_stripes(compare_region, region);

		/* Primary Combobox Initializing */
		const region = new Combobox(".region", (value) => {
			sync_region_comboboxes(value, region);
			get_region();
			fetch_region_stripes(value, get_compare_region());
		});

		const country = new Combobox(".country", (value) => {
			sync_region_comboboxes(value, country);
			get_region();
			fetch_region_stripes(value, get_compare_region());
		});

		const city = new Combobox(".city", (value) => {
			sync_region_comboboxes(value, city);
			get_region();
			fetch_region_stripes(value, get_compare_region());
		});

		/* Comparison Combobox Initializing */
		const compare_region = new Combobox(".compare-region", (value) => {
			sync_compare_region_comboboxes(value, compare_region);
			get_compare_region();
			fetch_compare_stripes(value || "Global", get_region());
		});

		const compare_country = new Combobox(".compare-country", (value) => {
			sync_compare_region_comboboxes(value, compare_country);
			get_compare_region();
			fetch_compare_stripes(value || "Global", get_region());
		});

		const compare_city = new Combobox(".compare-city", (value) => {
			sync_compare_region_comboboxes(value, compare_city);
			get_compare_region();
			fetch_compare_stripes(value || "Global", get_region());
		});

		const get_region = () => region.get_value() || country.get_value() || city.get_value() || null;
		const get_compare_region = () => compare_region.get_value() || compare_country.get_value() || compare_city.get_value() || null;

		/* Stripes Combobox */
		const stripe = new Combobox(".stripe");

		/* First time call */
		initialize_popover();
		update_sharing_url();

		/* Copy Clipboard */
		const share_button = document.querySelectorAll('[data-target="#sharing-modal"]');
		for (let el of share_button) {
			el.onclick = () => document.querySelector(".contain-url").value = window.location.href;
		}

		const copy_icon = document.querySelector(".copy-icon");
		const clipboard = new ClipboardJS('.copy-icon');

		clipboard.on('success', (e) => {
			copy_icon.classList.add("active");

			setTimeout(() => {
				copy_icon.classList.remove("active");
			}, 2000);
		});

		/* Visualize & Compare Select Box */
		const visualize_compare = document.querySelector(".visualize-compare-select-box");
		const visualize_compare_button = visualize_compare.querySelector("button");
		const options = visualize_compare.querySelectorAll(".option");
		const visualize_compare_button_label = visualize_compare.querySelector("span");
		const compare_classes = document.querySelectorAll(".comparison");

		visualize_compare_button.addEventListener("click", () => {
			visualize_compare.classList.toggle("active");

			for (let option of options) {
				let value_existence = visualize_compare_button.innerText == option.innerText;
				value_existence ? option.style.display = "none" : option.style.display = "block";
			}
		});

		for (let option of options) {
			option.addEventListener("click", () => {
				let selected_option = option.innerText;
				visualize_compare_button_label.innerText = selected_option;
				visualize_compare.classList.remove("active");

				if (visualize_compare_button_label.innerText === "Compare") {
					is_comparison_mode = true;
					compare_classes.forEach((compare) => compare.classList.add("active"));
					fetch_stripes(get_region(), get_compare_region());
				} else {
					is_comparison_mode = false;
					compare_classes.forEach((compare) => compare.classList.remove("active"));
					fetch_region_stripes(get_region());
				}
			});
		}
	</script>
{% endblock %}
