{% extends "templates/web.html" %}

{% set full_width = True %}
{% set no_breadcrumbs = True %}

{% block style %}
	<link rel="stylesheet" href="/assets/stripes/node_modules/tippy.js/dist/tippy.css">
	{{ include_style("stripes_home.bundle.css") }}
{% endblock %}

{%- block meta_block -%}
{%- for name in metatags %}
{%- set content = metatags.get(name, '') -%}
{%- if name in ('image', 'og:image', 'twitter:image') %}
	<meta {% if name.startswith('og:') %}property="{{ name }}"{% else %}name="{{ name }}"{% endif %} content="{{ content | striptags }}">
{%- elif content %}
	<meta {% if name.startswith('og:') %}property="{{ name }}"{% else %}name="{{ name }}"{% endif %} content="{{ content | striptags | escape }}">
{%- endif %}
{%- endfor -%}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-home navbar-expand-lg">
		<div class="container-2xl justify-content-start align-items-center flex-nowrap flex-column flex-md-row">
			<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or " /" }}">
				<h1 class="m-0 logo">Pollution Stripes</h2>
			</a>

			<!-- Nav Items -->
			<div class="nav-bar-menu w-100" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item d-flex align-items-center">
						<span class="mr-0 mr-md-3">Visualize</span>

						<!-- Global -->
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span data-label="Global">{{ selected_region }}</span>
								<img src="/assets/stripes/images/icons/arrow-down.svg" />
							</button>

							<!-- DropDown Menu -->
							<div class="dropdown-menu">
								<!-- Nav Tabs -->
								<ul class="nav nav-tabs" id="dropdown-tab" role="tablist">
									<li><button class="btn-reset tab-button active" id="region-tab" data-toggle="tab" data-target="#region">Region</button></li>
									<li><button class="btn-reset tab-button" id="country-tab" data-toggle="tab" data-target="#country">Country</button></li>
									<li><button class="btn-reset tab-button" id="region-tab" data-toggle="tab" data-target="#city">City</button></li>
								</ul>

								<!-- Nav Tabs Content -->
								<div class="tab-content" id="dropdown-tab-content">
									<div class="tab-pane fade show active" id="region">
										<div class="region">
											<!-- Search -->
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											<ul class="list">
												{% for region in monitor.region %}
													<li>{{ region.name }}</li>
												{% endfor %}
											</ul>
										</div>
									</div>

									<!-- Country -->
									<div class="tab-pane fade" id="country">
										<!-- Search -->
										<div class="country">
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											 <ul class="list">
												{% for country in monitor.country %}
													<li>{{ country.name }}</li>
												{% endfor %}
											 </ul>
										</div>
									</div>

									<!-- City -->
									<div class="tab-pane fade" id="city">
										<div class="city">
											<!-- Search -->
											<div class="form-group d-flex align-item-center">
												<img src="/assets/stripes/images/icons/search.svg" alt="search">
												<input type="text" class="form-control search" placeholder="Search">
											</div>

											<!-- List -->
											<ul class="list">
												{% for city in monitor.city %}
													<li>{{ city.name }}</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- Stripes -->
					<li class="nav-item d-flex align-items-center">
						<span class="mr-0 mr-md-3">air pollution</span>

						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
								<span data-label="Stripes">Stripes</span>
								<img src="/assets/stripes/images/icons/arrow-down.svg" />
							</button>

							<!-- DropDown Menu -->
							<div class="dropdown-menu">
								<div class="stripe">
									<!-- List -->
									<ul class="list">
										<li>Stripes</li>
										<li>Bars</li>
										<li>Chart</li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					{% include "templates/includes/navbar/navbar_login.html" %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block page_content %}
	<!--  Stripes -->
	<section class="stripes-section py-5">
		<div class="container-2xl">
			<div class="row">
				<div class="col-12">
					<div class="stripes-container">
						<!-- Loader -->
						<div class="loader"></div>
						<!-- Stripe Svg -->
						<div class="stripes w-100">
							{{ stripes_svg }}
						</div>
					</div>
				</div>
			</div>

			<!-- Download & Share Button -->
			<div class="row mt-5">
				<div class="col-12">
					<div class="action-buttons text-right">
						<!-- Download -->
						<a href="{{ image_url }}" id="stripes-download-link" download>
							<button class="btn btn-secondary">
								<img src="/assets/stripes/images/icons/download.svg" alt="download-button">
								<span>Download</span>
							</button>
						</a>

						<!-- Share -->
						<button class="btn btn-secondary" id="share-button" data-toggle="modal" data-target="#sharing-modal">
							<img src="/assets/stripes/images/icons/share.svg" alt="share-button">
							<span>Share</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Share Modal -->
		<div class="modal fade" id="sharing-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header d-flex align-items-center">
						<h5 class="modal-title" id="exampleModalLongTitle">Share</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="social-icons-area">
							<a data-share="facebook" target="_blank">
								<img src="/assets/stripes/images/icons/facebook.svg" alt="facebook">
							</a>

							<a data-share="whatsapp" target="_blank">
								<img src="/assets/stripes/images/icons/whatsapp.svg" alt="whatsapp">
							</a>

							<a data-share="linkedin" target="_blank">
								<img src="/assets/stripes/images/icons/linkedin.svg" alt="linkedin">
							</a>

							<a data-share="x" target="_blank">
								<img src="/assets/stripes/images/icons/x.svg" alt="twitter/x">
							</a>

							<a data-share="mail" target="_blank">
								<img src="/assets/stripes/images/icons/email.svg" alt="mail">
							</a>
						</div>

						<div class="page-url-section mt-5 position-relative">
							<div class="form-group postion-relative mb-0">
								<input type="text" class="form-control contain-url" readonly>
								<img src="/assets/stripes/images/icons/copy.svg" data-clipboard-target=".page-url-section input" class="copy-icon" alt="copy">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

<!-- Footer -->
{% block footer %}
	<footer>
		<p>&copy; {{ frappe.utils.formatdate(frappe.utils.today(), "YYYY") }} ParaLogic, All rights reserved.</p>
	</footer>
{% endblock %}

{% block script %}
	{{ include_script("combobox.bundle.js") }}
	{{ include_script("stripes.bundle.js") }}

	<!-- Js -->
	<script>
		/* Added in globallly */
		window.image_api = "{{ image_api|e }}";
		window.stripes_from_date = "{{ from_date }}";
		window.stripes_to_date = "{{ to_date }}";
		window.page_url = window.location.href;

		/* For Dropdown & Tabs */
		$(document).ready(function() {
			$('.dropdown-menu').each(function() {
				$(this).on('click', function(e) {
					e.stopPropagation();
				});

				$(this).on('click', function(e) {
					if ($(e.target).hasClass('tab-button')) {
						let target = $(e.target).data('target');

						// Switch active tab
						$(this).find('.tab-button').removeClass('active');
						$(e.target).addClass('active');

						// Switch tab content
						$(this).find('.tab-pane').removeClass('show active');
						$(target).addClass('show active');
					}
				});
			});
		});

		/* Popover */
		const initialize_popover = () => {
			const rectangles = document.querySelectorAll(".stripes rect");
			rectangles.forEach(rect => {
				tippy(rect, {
					content: () => {
						const content = document.createElement('div');
						content.innerHTML = `
							<div class="popover-header-area">
								<div class="date-area">
									<img src="/assets/stripes/images/icons/calendar.svg" alt="date-icon">
									<h2 class="date">${frappe.format(rect.getAttribute('data-date'), {fieldtype: 'Date'})}</h2>
								</div>
							</div>
							<div class="popover-body-area">
								<div class="pollutant-area">
									<div class="label">
										<img src="/assets/stripes/images/icons/pollutant.svg" alt="pollutant-icon">
										<span>PM2.5 (μg/m³)</span>
									</div>
									<h3 class="value">${rect.getAttribute("data-pollutant") ?? "N/A"}</h3>
								</div>
							</div>
						`
						return content;
					},
					placement: 'bottom',
					trigger: 'mouseenter',
					plugins: [followCursor],
					followCursor: true,
					duration: [0, 0],
					offset: [0, 25],
					animation: 'none',
					theme: 'custom',
					touch: true,
					arrow: true,
					allowHTML: true
				});
			});
		}

		/* Stripes Share */
		const stripes_sharing = () => {
			const share_text = encodeURIComponent("Check this out!");
			const share_url = page_url;
			const element = document.querySelectorAll(".social-icons-area a");
			for (let d of element) {
				social_site = d.getAttribute("data-share");

				if (social_site == "facebook") {
					d.setAttribute("href", `https://www.facebook.com/sharer/sharer.php?u=${share_url}`)
				}

				if (social_site == "whatsapp") {
					d.setAttribute("href", `https://api.whatsapp.com/send?text=${share_text} ${share_url}`)
				}

				if (social_site == "linkedin") {
					d.setAttribute("href", `https://www.linkedin.com/sharing/share-offsite/?url=${share_url}`)
				}

				if (social_site == "x") {
					d.setAttribute("href", `https://twitter.com/intent/tweet?url=${share_url}&text=${share_text}`)
				}

				if (social_site == "mail") {
					d.setAttribute("href", `mailto:?subject=Pollution Stripes&body=${share_text} ${share_url}`)
				}
			}
		}

		const update_sharing_url = () => {
			window.page_url = window.location.href;
			stripes_sharing();
		}

		/* Download URL */
		const update_stripes_download_url = (region) => {
			const download_el = document.getElementById("stripes-download-link");
			let download_url = get_image_url(region);
			download_el.setAttribute("href", download_url);
		}

		const get_image_url = (region) => {
			let download_url = `${image_api}?from_date=${stripes_from_date}&to_date=${stripes_to_date}`;
			if (region) {
				download_url += `&monitor_region=${encodeURIComponent(region)}`;
			}
			return download_url;
		}

		// Update the URL based on filter selection.
		const update_page_url = (value) => {
			const new_url = value ? `/region/${encodeURIComponent(value)}` : `/`;
			if (window.location.pathname !== new_url) {
				window.history.pushState({ region: value }, null, new_url);
			}
		}

		// Update the query on page reload.
		window.addEventListener('load', (e) => {
			const value = decodeURIComponent(window.location.pathname.split("/")[2]);
			if (value) sync_region_comboboxes(value);
		});

		// Retrieve and handle the state when the user navigates back in history.
		window.addEventListener('popstate', (e) => {
			if (e.state && e.state.region) {
				fetch_stripes(e.state.region);
				sync_region_comboboxes(e.state.region);
			}
		});

		/* Combobox Initializing */
		const sync_region_comboboxes = (value, from) => {
			if (country != from) {
				country.set_value(value);
			}
			if (region != from) {
				region.set_value(value);
			}
			if (city != from) {
				city.set_value(value);
			}
		};

		/* Fetching Stirpes */
		const fetch_stripes = (value) => {
			const stripes_container = document.querySelector(".stripes-container");
			stripes_container?.classList.add("loading");

			frappe.call({
				method: 'stripes.image.get_stripes_svg',
				args: {
					from_date: stripes_from_date,
					to_date: stripes_to_date,
					monitor_region: value
				},
				callback: (response) => {
					if (response.message) {
						document.querySelector(".stripes-container .stripes").innerHTML = response.message;
					}
					stripes_container?.classList.remove("loading");

					update_stripes_download_url(value);
					update_page_url(value);
					update_sharing_url();
					initialize_popover();
				},
				error: (error) => {
					frappe.msgprint({
						title: __('Error'),
						message: __('Something went wrong. Please check your internet connection or try again.'),
					})
				}
			});
		}

		/* Global Combobox */
		const country = new Combobox(".country",
			(value) => {sync_region_comboboxes(value, country), fetch_stripes(value)}
		);

		const region = new Combobox(".region",
			(value) => {sync_region_comboboxes(value, region), fetch_stripes(value)}
		);

		const city = new Combobox(".city",
			(value) => {sync_region_comboboxes(value, city), fetch_stripes(value)}
		);

		/* Stripes Combobox */
		const stripe = new Combobox(".stripe");

		/* Copy Clipboard */
		const share_button = document.getElementById("share-button");
		share_button.onclick = () => {
			document.querySelector(".contain-url").value = window.location.href;
		};

		const copy_icon = document.querySelector(".copy-icon");
		const clipboard = new ClipboardJS('.copy-icon');

		clipboard.on('success', (e) => {
			copy_icon.classList.add("active");

			setTimeout(() => {
				copy_icon.classList.remove("active");
			}, 2000);
		});

		/* First time call */
		initialize_popover();
		stripes_sharing();
	</script>
{% endblock %}
