<nav class="navbar navbar-expand-lg">
	<div class="container-2xl justify-content-start align-items-center">
		<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or " /" }}">
			<h1 class="m-0 logo">Pollution Stripes</h2>
		</a>

		<div class="nav-bar-menu w-100" id="navbarSupportedContent">
			{% include "templates/includes/navbar/navbar_items.html" %}
		</div>
    </div>
</nav>

<!-- For Dropdown & Tabs -->
<script>
	document.addEventListener('DOMContentLoaded', () => {
		$('.dropdown-menu').each(function() {
			$(this).on('click', function(e) {
				e.stopPropagation();
			});

			$(this).on('click', function(e) {
				if ($(e.target).hasClass('tab-button')) {
					let target = $(e.target).data('target');

					// Switch active tab
					$(this).find('.tab-button').removeClass('active');
					$(e.target).addClass('active');

					// Switch tab content
					$(this).find('.tab-pane').removeClass('show active');
					$(target).addClass('show active');
				}
			});
		});
	});
</script>
